<html>
  <body>
    <h1>hello from <%= node['fqdn'] %></h1>

    <pre>
      <%= node['hostname'] %>
      <%= node['platform'] %> - <%= node['platform_version'] %>
      <%= node['cpu']['total'] %> CPUs
      <%= node['date'] %> 
    </pre>
  </body>
</html>
